<nb-card>
     <nb-card-body>
          <h1 class="h5">Selected date: {{ date | date }}</h1>

          <nb-calendar (dateChange)="selectDate($event)" [(date)]="date" showWeekNumber="true"></nb-calendar>
     </nb-card-body>
     <nb-card-body>
          <label>Actividades: {{ date | date }}</label>
     </nb-card-body>
     <nb-card-body>
          <label>Actividad <button nbButton>Detalles</button></label>

     </nb-card-body>
     <nb-card-body>
          <label>Actividad  <button nbButton>Detalles</button></label>

     </nb-card-body>
     <nb-card-body>
          <label>Actividad  <button nbButton>Detalles</button></label>

     </nb-card-body>

</nb-card>