<nb-card>
  <nb-card-body>

    <nb-card size="big">
      
      <nb-card-header class="HeaderEventos">
        Eventos
      </nb-card-header>
      
      <h4 class="h4">Seleccione la fecha del evento</h4>
      <h1 class="h5" *ngIf="dia" disabled=true  >Fecha seleccionada: {{ date | date }}</h1>
<!--       
      <nb-calendar class="CalendarioPrimero" (dateChange)="cambioDeFecha($event)" [(date)]="date" showWeekNumber="true"></nb-calendar>
      <hr> -->

      <input nbInput placeholder="Pick Date" [nbDatepicker]="dateTimePicker">
      <nb-datepicker #dateTimePicker (dateChange)="cambioDeFecha($event)" [(date)]="date"></nb-datepicker>

      <hr>
      <button nbButton fullWidth status="primary" (click)="mostrarTodos()" *ngIf="hayDiaSeleccionado">Mostrar todas las rondas</button>
      <hr>

      <ng2-smart-table [settings]="settings" [source]="source" (create)="createTemplate()"
        (edit)="editTemplate($event)" (delete)="deleteTemplate($event)"></ng2-smart-table>

      <br> 
    </nb-card>




  </nb-card-body>

  <nb-alert *ngIf="cerrarAlerta == 0 " status="success" closable (close)="onClose()">
    Se creo la ronda correctamente!
  </nb-alert>

  <nb-card *ngIf="!botonApretado" disabled=true>
    <nb-card-body class="Boton-Agregar-Ronda" >
      <button nbButton fullWidth status="primary" (click)="pulsar()">Crear nueva ronda para la fecha seleccionada</button>
    </nb-card-body>
  </nb-card>
  
  <nb-card *ngIf="botonApretado==1" disabled=true >
    <nb-card-body>
      <nb-stepper orientation="horizontal" disableStepNavigation>
        <nb-step [label]="labelHoraInicio">
          <ng-template #labelHoraInicio>Horario</ng-template>
          <h4 class="h4">Horario</h4>
          
          <nb-card>
            
            <div class="padre">
              <div>
               <h5>Hora inicio</h5>
               <ngb-timepicker class="SteperComponentes" [(ngModel)]="horaInicio"></ngb-timepicker>
              </div>

              <div>
                <h5>Hora fin</h5>
                <ngb-timepicker class="SteperComponentes" [(ngModel)]="horaFin"></ngb-timepicker>
              </div>
            </div>



            <button *ngIf="!horaInicio || !horaFin" class="next-button" disabled=true nbButton nbStepperNext>next</button>
            <button *ngIf="horaInicio && horaFin" class="next-button" nbButton nbStepperNext>next</button>
            <hr>
            <button class="prev-button" nbButton disabled nbStepperNext>prev</button>
            
          </nb-card>

        </nb-step>
        <nb-step [label]="labelRonda">
          <ng-template #labelRonda>Ronda</ng-template>
          <h4>Seleccionar Ronda</h4>

            <nb-card>
              <hr>
               <nb-select class="SteperComponentes" id="ronda" placeholder="Ronda" [selected]="ronda">
                 <nb-option *ngFor="let item of rondaArray" [value]="item?.id" (click)="selectRonda(item)">
                 {{item?.nombre}}</nb-option>
               </nb-select>
              <hr>
              
              <ng2-smart-table class="SteperComponentes" [settings]="setingsRonda" [source]="rondaArray" (create)="createTemplate()"
              (edit)="editTemplate($event)" (delete)="deleteTemplate($event)"  (userRowSelect)="selectRonda($event)"></ng2-smart-table>
              
              <button *ngIf=ronda class="next-button" nbButton nbStepperNext>next</button>
              <button *ngIf=!ronda class="next-button" nbButton disabled=true nbStepperNext>next</button>
              <hr>
              <button class="prev-button" nbButton nbStepperPrevious>prev</button>
              
            </nb-card>

        </nb-step>
        <nb-step [label]="labelDias">
          <ng-template #labelDias>Recurrencia</ng-template>
          
          <nb-card>
            <div class="padre">
            <hr>
            <h5>Seleccione los dias</h5>
            <nb-select class="SteperComponentes" multiple placeholder="Multiple Select" [(selected)]="selectedDia" (click)="agregarDia()">
              <nb-option value="1">Lunes</nb-option>
            <nb-option value="2">Martes</nb-option>
            <nb-option value="3">Miercoles</nb-option>
            <nb-option value="4">Jueves</nb-option>
            <nb-option value="5">Viernes</nb-option>
            <nb-option value="6">Sabado</nb-option>
            <nb-option value="7">Domingo</nb-option>
          </nb-select>
          <h5>Seleccione el tipo de Recurrencia</h5>
          <nb-select class="SteperComponentes" placeholder="Multiple Select" [(selected)]="selectedRecurrencia" (click)="agregarRecurrencia()">
            <nb-option value="1">Diaria</nb-option>
            <nb-option value="2">Semanal</nb-option>
            <nb-option value="3">Mensual</nb-option>
          </nb-select>
          </div>
          <hr>
          <button *ngIf="!selectedDia || !selectedRecurrencia" class="next-button" disabled="true" nbButton nbStepperNext>next</button>
          <button *ngIf="selectedDia && selectedRecurrencia" class="next-button" nbButton nbStepperNext>next</button>
          <hr>
          <button class="prev-button" nbButton nbStepperPrevious>prev</button>
          
        </nb-card>

        </nb-step>
        <nb-step [label]="labelUsuario">
          <ng-template #labelUsuario>Usuario</ng-template>
          <h4>Seleccione Usuario</h4>

          <nb-card>
            <hr>
            <nb-select class="SteperComponentes" id="usuario" placeholder="Usuario" [selected]="Usuario">
              <nb-option *ngFor="let item of usuariosArray" [value]="item?.id" (click)="selectUsuario(item)">
                {{item?.name}}</nb-option>
              </nb-select>
          <hr>
        
          <button nbButton fullWidth status="primary" (click)="generarHorario()" *ngIf="getUsuario() == null" disabled="true">Guardar</button>
          <button nbButton fullWidth status="primary" (click)="generarHorario()" *ngIf="getUsuario() != null">Guardar</button>
          <hr>
          <button class="prev-button" nbButton nbStepperPrevious>prev</button>

        </nb-card>

        </nb-step>
      </nb-stepper>
    </nb-card-body>
  </nb-card>

</nb-card>