.CalendarioPrimero{
    margin-left: auto;
    margin-right: auto;
}

.SteperComponentes{ 
    margin-left: auto;
    margin-right: auto;
}

.h4 {
    margin-left: auto;
    margin-right: auto;
}

.h5 {
    margin-left: auto;
    margin-right: auto;
}

.HeaderEventos {
    margin-left: auto;
    margin-right: auto;
}

.prev-button {
    margin-left: 400;
    margin-right: 600;
  }

.next-button{
    margin-left: 500;
    margin-right: 500;
}

.padre{
    border: 1px;
    display: inline-block;
    width: auto;
    margin: auto;
    text-align: left;
 }