
<h4 class="mb-20">Nueva Plantilla de Ronda: '{{!roundName ? 'Sin Titulo' : roundName}}'</h4>
<br><br>
<ng-container>
  <div class="d-flex justify-content-between">
      <input nbInput type="text" class="col-6" [(ngModel)]="roundName" placeholder="Nombre de la Ronda">
      <button nbButton status="primary" class="col-4 col-offset-2" (click)="saveTemplate()">Guardar Plantilla</button>
  </div>

<br><br>

  <ng2-smart-table
  [settings]="settings"
  [source]="tableData"
  (create)="createTemplate()"
  (edit)="editTemplate($event)"
  (delete)="deleteTemplate($event)"
  ></ng2-smart-table>
</ng-container>

<br><br>

<br>
<div class="row col-12">
  <br><br>
  <div class="d-flex fd-c">
    <h5>Horario</h5>
    <br>
    <ng2-smart-table
      [settings]="timeSetting"
      [source]="tableTimeData"
      (createConfirm)="selectTime($event, 'create')"
      (editConfirm)="selectTime($event, 'edit')"
      (deleteConfirm)="selectTime($event, 'delete')"
    >
    </ng2-smart-table>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h5>Configuración</h5>
  </div>
  <br><br>
  <div class="col-12">
    <p><b>Sistemas</b></p>
    <div class="d-flex">
      <nb-checkbox status="primary" [(ngModel)]="funcionamientoSistema">Funcionamiento</nb-checkbox>
      <nb-checkbox status="primary" [(ngModel)]="obligatorioSistema">Obligatorio</nb-checkbox>
    </div>
  </div>
  <br><br>
  <div class="col-12">
    <p><b>Equipmaiento</b></p>
    <div class="d-flex">
      <nb-checkbox status="primary" [(ngModel)]="funcionamientoEquipo">Funcionamiento</nb-checkbox>
      <nb-checkbox status="primary" [(ngModel)]="obligatorioEquipo">Obligatorio</nb-checkbox>
    </div>
  </div>
</div>
<br><br>


<ng-template #addOrEdit let-dialog="dialogRef" let-dialogData>
  <nb-card>
    <nb-card-header>{{dialogData}}</nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-6">
              <label class="label" for="plant">Planta</label>
              <nb-select id="plant" [placeholder]="plant?.placeholder" [selected]="plant.selected">
                <nb-option *ngFor="let item of plantArray?.items" [value]="item?.id" (click)="selectPlant(item)">{{item?.nombre}}</nb-option>
              </nb-select>
            </div>
            <div class="col-6">
              <label class="label" for="system">Sistema</label>
              <nb-select id="system" [placeholder]="system?.placeholder" [disabled]="!enableSystem" [selected]="system.selected">
                <nb-option *ngFor="let item of systemArray?.items | filterBy: 'plantaId': plantId; let i = index" [value]="item?.id" (click)="selectSystem(item)">{{item?.nombre}}</nb-option>
              </nb-select>
            </div>
            <div class="col-6">
              <label class="label" for="equipment">Equipo</label>
              <nb-select id="equipment" [placeholder]="equipment?.placeholder" [disabled]="!enableEquipment" [selected]="equipment.selected">
                <nb-option *ngFor="let item of equipmentArray?.items | filterBy: 'sistemaId': systemId; let i = index" [value]="item?.id" (click)="selectEquipment(item)">{{item?.nombre}}</nb-option>
              </nb-select>
            </div>
            <div class="col-6">
              <label class="label" for="unity">Unidad de medida</label>
              <nb-select id="unity" [placeholder]="component?.placeholder" [selected]="component.selected">
                <nb-option *ngFor="let item of unitArray?.items" [value]="item?.id" (click)="selectComponent(item)">{{item?.nombre}}</nb-option>
              </nb-select>
            </div>
            <div class="col-6">
              <label class="label" for="name">Nombre</label>
              <input name="nameField" (ngModelChange)="changeField($event,'nameField')" [(ngModel)]="nameField" id="name" class="form-control" placeholder="Nombre" type="text"/>
            </div>
            <div class="col-6">
              <label class="label" for="type">Tipo de dato</label>
              <nb-select id="type" [placeholder]="typeData?.placeholder" [selected]="typeData.selected">
                <nb-option *ngFor="let item of dataTypeArray?.items " [value]="item?.id" (click)="selectTypeData(item)">{{item?.nombre}}</nb-option>
              </nb-select>
            </div>
            <div class="col-4" *ngIf="dataType < 3">
              <label class="label" for="min">Valor Mínimo</label>
              <input (ngModelChange)="changeField($event,'min')" name="min" [(ngModel)]="min" id="min" class="form-control" placeholder="Valor Mínimo" type="{{dataType == 1 ? 'number' : 'text'}}"/>
            </div>
            <div class="col-4" *ngIf="dataType < 3">
              <label class="label" for="max">Valor Máximo</label>
              <input (ngModelChange)="changeField($event,'max')" name="max" [(ngModel)]="max" id="max" class="form-control" placeholder="Valor Máximo" type="{{dataType == 1 ? 'number' : 'text'}}"/>
            </div>
            <div class="col-4" *ngIf="dataType < 3">
              <label class="label" for="normal">Valor Normal</label>
              <input (ngModelChange)="changeField($event,'normal')" name="normal" [(ngModel)]="normal" id="normal" class="form-control" placeholder="Valor Normal" type="{{dataType == 1 ? 'number' : 'text'}}"/>
            </div>
            <div class="col-4" *ngIf="dataType > 2">
              <label class="label" for="normal">Valor Normal</label>
              <nb-select (ngModelChange)="changeField($event,'normal')" name="normal" [(ngModel)]="normal" id="type">
                <nb-option [value]="true">Verdadero</nb-option>
                <nb-option [value]="false">Falso</nb-option>
              </nb-select>
            </div>
          </div>
    </nb-card-body>
    <nb-card-footer>
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-baseline">
              <h5 class="text-hint cursor-pointer pr-4" (click)="discardChanges(dialog)">Cancelar</h5>
              <button nbButton status="primary" (click)="saveChanges(dialog)" [disabled]="!enableSaveButton">Guardar</button>
            </div>
          </div>
    </nb-card-footer>
  </nb-card>
</ng-template>

