<h2 class="title">Registrarse</h2>
<form #form="ngForm" (submit)="registerUser(form)">
  <div class="form-group">
    <input ngModel class="form-control" name="username" placeholder="Nombre de Usuario" type="text">
  </div>
  <div class="form-group">
    <input ngModel class="form-control" name="password" placeholder="Contraseña" type="password">
  </div>
  <div class="form-group">
    <input ngModel class="form-control" name="name" placeholder="Nombre" type="text">
  </div>
  <div class="form-group">
    <input ngModel class="form-control" name="lastName" placeholder="Apellido" type="text">
  </div>
  <div class="form-group">
    <input ngModel class="form-control" name="dni" placeholder="DNI" type="text">
  </div>
  <button class="btn btn-block btn-hero-success" type="submit">Registrarme</button>
</form>
<div class="links">
  <small class="form-text"> ¿Ya tiene una cuenta?
    <a [routerLink]="['/auth/login']">
      <strong _ngcontent-c22="">Iniciar sesión</strong>
    </a>
  </small>
</div>
