<h2 _ngcontent-c22="" class="title">Registrarse</h2>
  <form _ngcontent-c22="" novalidate="">
    <!----><!---->
    <div _ngcontent-c22="" class="form-group">
      <label _ngcontent-c22="" class="sr-only" for="input-name"
        >Nombre completo</label
      ><input
        _ngcontent-c22=""
        autofocus=""
        class="form-control"
        id="input-name"
        name="fullName"
        placeholder="Nombre completo"
      /><!----><!---->
    </div>
    <div _ngcontent-c22="" class="form-group">
      <label _ngcontent-c22="" class="sr-only" for="input-name">Empresa</label
      ><input
        _ngcontent-c22=""
        autofocus=""
        class="form-control"
        id="input-company"
        name="company"
        placeholder="Empresa"
      /><!----><!---->
    </div>
    <div _ngcontent-c22="" class="form-group">
      <label _ngcontent-c22="" class="sr-only" for="input-email">Email</label
      ><input
        _ngcontent-c22=""
        class="form-control"
        id="input-email"
        name="email"
        pattern=".+@.+\..+"
        placeholder="Email"
      /><!----><!---->
    </div>
    <div _ngcontent-c22="" class="form-group">
      <label _ngcontent-c22="" class="sr-only" for="input-password"
        >Contraseña</label
      ><input
        _ngcontent-c22=""
        class="form-control"
        id="input-password"
        name="password"
        placeholder="Contraseña"
        type="password"
      /><!----><!---->
    </div>
    <div _ngcontent-c22="" class="form-group">
      <label _ngcontent-c22="" class="sr-only" for="input-re-password"
        >Repeat password</label
      ><input
        _ngcontent-c22=""
        class="form-control"
        id="input-re-password"
        name="rePass"
        placeholder="Confirmación de contraseña"
        type="password"
      /><!----><!---->
    </div>
    <!----><button _ngcontent-c22="" class="btn btn-block btn-hero-success">
      Registrarme
    </button>
  </form>
  <div _ngcontent-c22="" class="links">
    <!----><small _ngcontent-c22="" class="form-text">
      ¿Ya tiene una cuenta?
      <a _ngcontent-c22="" routerlink="../login"
        ><strong _ngcontent-c22="">Iniciar sesión</strong></a
      ></small
    >
  </div>
