@import '../../../@theme/styles/themes';

@include nb-install-component() {
  ngx-chartjs-pie,
  ngx-chartjs-bar,
  ngx-chartjs-line,
  ngx-chartjs-multiple-xaxis,
  ngx-chartjs-bar-horizontal,
  ngx-chartjs-radar {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;

    /deep/ chart {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

.div1 {
  width:600px			
}

.div2 {
  position: relative;
  left: 100px;
  top: 50px;
  width:100px;			
}

/* .tablaBusqueda {
  width:10000px
} */

/* .tablaVendedor {
  position: relative;
  left: 100px;
  top: 50px,
} */
