<!-- <div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Historial de Rondas</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-pie [data]="pieChartData"></ngx-chartjs-pie>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Rondas por usuario</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-bar-horizontal [data]="barHorizontalChartData"></ngx-chartjs-bar-horizontal>
      </nb-card-body>
    </nb-card>
  </div>
</div>
 -->

 <ng-container>
  <h1>Productos</h1>

  <div>
    <div class='div1'> 
      <ng2-smart-table class='tablaBusqueda'
      [settings]="settings"
      [source]="source"
      (createConfirm)="addEquipment($event)"
      (editConfirm)="editEquipment($event)"
      (deleteConfirm)="deleteEquipment($event)"
      (userRowSelect)="selectProducto($event)"
      ></ng2-smart-table>
    </div>

    <div class='div2'>
      <ng2-smart-table class='tablaVendedor'
      [settings]="settings"
      [source]="source"
      (createConfirm)="addEquipment($event)"
      (editConfirm)="editEquipment($event)"
      (deleteConfirm)="deleteEquipment($event)"
      (userRowSelect)="selectProducto($event)"
      ></ng2-smart-table>
    </div>
  </div>
    
    <div> 
      <ng2-smart-table 
      [settings]="settingsSeleccionados"
      [source]="sourceSeleccionados"
      (createConfirm)="addEquipment($event)"
      (editConfirm)="editEquipment($event)"
    (deleteConfirm)="deleteEquipment($event)"
    ></ng2-smart-table>
  </div>
</ng-container>
