// themes - our custom or/and out of the box themes
@import 'themes';
@import '~ngx-ui-switch/ui-switch.component.scss';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
@import '~@nebular/bootstrap/styles/globals';
// ...

// global app font size
@import './font-size';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();
  @include nb-bootstrap-global();

  // loading progress bar
  @include ngx-pace-theme();
};


// general

.row-filters-selects {
  margin-top: 20px;
  margin-bottom: 50px;
}

.m-0 {
  margin: 0px;
}

.mb-10 {
  margin-bottom: 10px;
}

.p-20 {
  padding: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.general-table {
  width: auto!important;
  .ng2-smart-actions {
    width: 90px!important;
  }
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.d-flex {
  display: flex;
}

.fd-c {
  flex-direction: column;
}

.text-right {
  text-align: right;
}

.bg-white {
  background-color: white;
}

.br-10 {
  border-radius: 10px;
}

.cdk-global-scrollblock {
  position: relative !important;
  width: auto !important;
  overflow-y: auto !important;
  top: 0!important;
}

.cursor-pointer {
  cursor: pointer;
}


