<h4 (click)="close()"> <b><i class="nb-arrow-left"></i></b> Volver</h4>
<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-6 mb-10">
          Estado
      </div>
      <div class="col-6 mb-10">
          Origen
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-3 dropdown-container">
        <div class="dropdown btn-group" ngbDropdown>
          <button type="button" class="btn btn-primary">{{data?.estadoFallaNombre}}</button>
          <button type="button" class="btn btn-primary" ngbDropdownToggle></button>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li class="dropdown-item" *ngFor="let status of statusList" (click)="changeStatus(status)">{{status.nombre}}</li>
          </ul>
        </div>
      </div>
      <div class="offset-3 col-6">
        <h6>{{data?.origen}}</h6>
      </div>
    </div>
  </nb-card-body>
  <br>
</nb-card>

<nb-card>
  <nb-card-header></nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-5">
        <div class="d-flex">
          <div class="col-6">Operario:</div>
          <div class="col-6">{{data.operator}}</div>
        </div>
        <br><br>
        <div class="d-flex">
          <div class="col-6">Tipo de Falla:</div>
          <div class="col-6">{{data.tipoFallaNombre}}</div>
        </div>
        <br><br>
        <div class="d-flex">
          <div class="col-6">Sistema:</div>
          <div class="col-6">{{data?.sistema}}</div>
        </div>
        <br><br>
        <div class="d-flex">
          <div class="col-6">Equipo:</div>
          <div class="col-6"></div>
        </div>
        <br><br>
        <div class="d-flex">
          <div class="col-6">Fecha y Hora:</div>
          <div class="col-6">{{data?.date}} {{data?.time}}</div>
        </div>
      </div>
      <div class="col-7 d-flex align-items-center">
        <div class="d-flex w-100 flex-justify-start">
          <div class="col-3 text-right">Descripción:</div>
          <div class="col-9 word-wrap-break-word">{{data?.descripcion}}</div>
        </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>

<ng-template #changestatus let-modalRef="dialogRef">
    <nb-card class="modal-status d-flex justify-content-center">
      <nb-card-header>Cambio de Estado de Falla</nb-card-header>
      <nb-card-body>
        <textarea name="comments" id="changestatus" [(ngModel)]="data.descripcion" cols="110" rows="10"></textarea>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton hero status="primary" (click)="modalRef.close(); close()">Guardar Cambios</button>
      </nb-card-footer>
    </nb-card>
</ng-template>

