
<h4 class="mb-20">Nueva Plantilla de Guía de Maniobra: '{{!maneuverGuideName ? 'Sin Titulo' : maneuverGuideName}}'</h4>
<br><br>
<ng-container>
  <div>
      <input nbInput type="text" class="col-8" [(ngModel)]="maneuverGuideName" placeholder="Nombre de la Guía de Maniobra">
  </div>

<br><br>

    <ng2-smart-table
    [settings]="settings"
    [source]="tableData"
    (create)="createTemplate()"
    (edit)="editTemplate($event)"
    (delete)="deleteTemplate($event)"
    ></ng2-smart-table>
</ng-container>

<br><br>


<ng-template #addOrEdit let-dialog="dialogRef" let-dialogData>
  <nb-card class="maneuverModal">
    <nb-card-header>{{dialogData.title}}</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-6">
          <p><b>Planta</b></p>
          <nb-select placeholder="Seleccione" [selected]="plantSelected">
            <nb-option *ngFor="let plant of plants" [value]="plant?.id" (click)="selectPlant(plant)">{{plant?.nombre}}</nb-option>
          </nb-select>
        </div>
        <div class="col-6">
          <p><b>Sistema</b></p>
          <ng-container *ngIf="(systems | filterBy: 'plantaId' : currentPlantId)?.length">
            <nb-select placeholder="Seleccione" [disabled]="!enableSystem" [selected]="systemSelected">
              <nb-option *ngFor="let system of systems | filterBy: 'plantaId' : currentPlantId" [value]="system?.id" (click)="selectSystem(system)">{{system?.nombre}}</nb-option>
            </nb-select>
            <p class="text-danger" *ngIf="currentPlantId && !currentSystemId">Selecciona un sistema.</p>
          </ng-container>
          <p class="text-danger" *ngIf="!(systems | filterBy: 'plantaId' : currentPlantId)?.length">No hay sistemas disponibles para la planta elegida.</p>

        </div>
        <div class="col-6">
          <p><b>Equipo</b></p>
          <ng-container *ngIf="(equipments | filterBy: 'sistemaId' : currentSystemId)?.length && (systems | filterBy: 'plantaId' : currentPlantId)?.length">
            <nb-select placeholder="Seleccione" [disabled]="!enableEquipment" [selected]="equipmentSelected">
              <nb-option *ngFor="let equipment of equipments | filterBy: 'sistemaId' : currentSystemId" [value]="equipment?.id" (click)="selectEquipment(equipment)">{{equipment?.nombre}}</nb-option>
            </nb-select>
            <p class="text-danger" *ngIf="currentSystemId && !currentEquipmentId">Selecciona un equipo.</p>
          </ng-container>
          <p class="text-danger" *ngIf="!(equipments | filterBy: 'sistemaId' : currentSystemId)?.length || !(systems | filterBy: 'plantaId' : currentPlantId)?.length">No hay equipos disponibles para el sistema elegido.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-10">
          <p><b>Nombre</b></p>
          <input type="text" nbInput fullWidth fieldSize="medium" [(ngModel)]="dialogData.data.maneuverGuideName" placeholder="">
        </div>
        <div class="col-12 mt-10">
          <p><b>Descripcion</b></p>
          <textarea nbInput fullWidth placeholder="" [(ngModel)]="dialogData.data.maneuverGuideDescription"></textarea>
        </div>
      </div>
      <br><br>
    </nb-card-body>
    <nb-card-footer>
      <div class="row">
        <div class="col-12 mt-20 d-flex justify-content-center align-items-center">
          <h5 class="text-hint cursor-pointer pr-4" (click)="discardChanges(dialog)">Cancelar</h5>
          <button nbButton status="primary" (click)="saveChanges(dialog, dialogData)" [disabled]="!enableSaveButton">Guardar</button>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
<div class="row">
  <div class="col-12">
    <button nbButton status="primary" (click)="saveTemplate()">Guardar Plantilla</button>
  </div>
</div>

