
<h4 class="mb-20">Nueva Plantilla de Guía de Maniobra: '{{!maneuverGuideName ? 'Sin Titulo' : maneuverGuideName}}'</h4>
<br><br>
<ng-container>
  <div>
      <input nbInput type="text" class="col-8" [(ngModel)]="maneuverGuideName" placeholder="Nombre de la Guía de Maniobra">
  </div>

<br><br>

    <ng2-smart-table
    [settings]="settings"
    [source]="tableData"
    (create)="createTemplate()"
    (edit)="editTemplate($event)"
    (delete)="deleteTemplate($event)"
    ></ng2-smart-table>
</ng-container>

<br><br>


<ng-template #addOrEdit let-dialog="dialogRef" let-dialogData>
  <nb-card>
    <nb-card-header>{{dialogData.title}}</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-6">
          <p><b>Planta</b></p>
          <nb-select placeholder="planta" [selected]="plantSelected">
            <nb-option *ngFor="let plant of plants" [value]="plant?.id" (click)="selectPlant(plant)">{{plant?.nombre}}</nb-option>
          </nb-select>
        </div>
        <div class="col-6">
          <p><b>Sistema</b></p>
          <nb-select placeholder="sistema" [disabled]="!enableSystem" [selected]="systemSelected">
            <nb-option *ngFor="let system of systems | filterBy: 'plantaId' : currentPlantId" [value]="system?.id" (click)="selectSystem(system)">{{system?.nombre}}</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-10">
          <p><b>Nombre</b></p>
          <input type="text" nbInput fullWidth fieldSize="medium" [disabled]="!enableManeuverGuide" [(ngModel)]="dialogData.data.maneuverGuideName" (input)="selectManeuverGuide($event)" placeholder="">
        </div>
        <div class="col-12 mt-10">
          <p><b>Descripcion</b></p>
          <textarea nbInput fullWidth placeholder="" [disabled]="!enableManeuverGuide" [(ngModel)]="dialogData.data.maneuverGuideDescription" (input)="selectManeuverGuide($event)"></textarea>
        </div>
      </div>
      <br><br>
    </nb-card-body>
    <nb-card-footer>
      <div class="row">
        <div class="col-12 mt-20 d-flex justify-content-center align-items-center">
          <h5 class="text-hint cursor-pointer pr-4" (click)="discardChanges(dialog)">Cancelar</h5>
          <button nbButton status="primary" (click)="saveChanges(dialog, dialogData)" [disabled]="!enableSaveButton">Guardar</button>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
<div class="row">
  <div class="col-12">
    <button nbButton status="primary" (click)="saveTemplate()">Guardar Plantilla</button>
  </div>
</div>

