<!--h1>Nueva Tarea</h1>

<ng2-smart-table [settings]="settings" [source]="fieldsData" (create)="prueba()" (edit)="prueba()" (delete)="prueba()">
</ng2-smart-table>


<br><br>
<nb-card>
    <nb-calendar [(date)]="date">{{date}}</nb-calendar>
    <nb-card-body>
        <nb-card-body><label>{{date}}</label></nb-card-body>
    </nb-card-body>
</nb-card>


<nb-card>
    <nb-card-body>
        <nb-checkbox (click)="updateNbCheckBox()">Some text</nb-checkbox>.
        <nb-card-body>
            <label>Checked:</label> {{ checked }}
        </nb-card-body>
        <nb-checkbox (click)="updateNbCheckBox()">Some text</nb-checkbox>.
        <nb-card-body>
            <label>Checked:</label> {{ checked }}
        </nb-card-body>
        <nb-checkbox (click)="updateNbCheckBox()">Some text</nb-checkbox>.
        <nb-card-body>
            <label>Checked:</label> {{ checked }}
        </nb-card-body>
    </nb-card-body>
</nb-card-->





<!--h4 class="mb-20">Nueva Tarea: '{{!data.name ? 'Sin Titulo' : data.name}}'</h4>
<br><br>
<ng-container>
  <div class="d-flex justify-content-between">
    <input nbInput type="text" class="col-6" [(ngModel)]="roundName" placeholder="Nombre de la Ronda">
    <button nbButton status="primary" class="col-4 col-offset-2" (click)="saveTarea()">Guardar Tarea</button>
  </div>

  <br><br>

  <ng2-smart-table [settings]="settings" [source]="fieldsData" (create)="createTemplate()" (edit)="editTemplate($event)"
    (delete)="deleteTemplate($event)"></ng2-smart-table>
</ng-container>

<br><br>

<br>
<div class="row col-12">
  <br><br>
  <!--div class="d-flex fd-c">
    <h5>Horario</h5>
    <br>
    <ng2-smart-table [settings]="timeSetting" [source]="tableTimeData" (createConfirm)="selectTime($event, 'create')"
      (editConfirm)="selectTime($event, 'edit')" (deleteConfirm)="selectTime($event, 'delete')">
    </ng2-smart-table>
    <br>
  </div-->
<!--/div>
<div class="row">
  <div class="col-12">
    <h5>Configuración</h5>
  </div>
  <br><br>
  <div class="col-12">
    <p><b>Sistemas</b></p>
    <div class="d-flex">
      <nb-checkbox status="primary" [(ngModel)]="funcionamientoSistema">Funcionamiento</nb-checkbox>
      <nb-checkbox status="primary" [(ngModel)]="obligatorioSistema">Obligatorio</nb-checkbox>
    </div>
  </div>
  <br><br>
  <div class="col-12">
    <p><b>Equipmaiento</b></p>
    <div class="d-flex">
      <nb-checkbox status="primary" [(ngModel)]="funcionamientoEquipo">Funcionamiento</nb-checkbox>
      <nb-checkbox status="primary" [(ngModel)]="obligatorioEquipo">Obligatorio</nb-checkbox>
    </div>
  </div>
</div>
<br><br-->


<!--nb-card>
  <nb-calendar [(date)]="date"></nb-calendar>
</nb-card-->





<ng-template  #addOrEdit let-dialog="dialogRef" let-dialogData>
  <nb-card class="roundModal">
    <nb-card-header>{{dialogData}}</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-6">
          <label class="label" for="plant">Planta</label>
          <nb-select id="plant" placeholder="Seleccione" [(selected)]="data.plantId">
            <nb-option *ngFor="let item of plantArray?.items" [value]="item?.id" (click)="selectPlant(item)">
              {{item?.nombre}}</nb-option>
          </nb-select>
        </div>
        <div class="col-6">
          <label class="label" for="system">Sistema</label>
          <ng-container *ngIf="(systemArray?.items | filterBy: 'plantaId': data.plantId)?.length">
            <nb-select id="system" placeholder="Seleccione" [selected]="data.systemId" [disabled]="!data.plantId">
              <nb-option *ngFor="let item of systemArray?.items | filterBy: 'plantaId': data.plantId" [value]="item?.id"
                (click)="selectSystem(item)">{{item?.nombre}}</nb-option>
            </nb-select>
            <p class="text-danger" *ngIf="data.plantId && !data.systemId">Seleccione un sistema.</p>
          </ng-container>
          <p class="text-danger" *ngIf="!(systemArray?.items | filterBy: 'plantaId': data.plantId)?.length">No hay
            sistemas disponibles para la planta elegida.</p>
        </div>
        <div class="col-6">
          <label class="label" for="equipment">Equipo</label>
          <ng-container
            *ngIf="(equipmentArray?.items | filterBy: 'sistemaId': data.systemId)?.length && (systemArray?.items | filterBy: 'plantaId': data.plantId)?.length">
            <nb-select id="equipment" placeholder="Seleccione" [selected]="data.equipmentId"
              [disabled]="!data.systemId">
              <nb-option *ngFor="let item of equipmentArray?.items | filterBy: 'sistemaId': data.systemId"
                [value]="item?.id" (click)="selectEquipment(item)">{{item?.nombre}}</nb-option>
            </nb-select>
            <p class="text-danger" *ngIf="data.systemId && !data.equipmentId">Seleccione un equipo.</p>
          </ng-container>
          <p class="text-danger"
            *ngIf="!(equipmentArray?.items | filterBy: 'sistemaId': data.systemId)?.length || !(systemArray?.items | filterBy: 'plantaId': data.plantId)?.length">
            No hay equipos disponibles para el sistema elegido.</p>
        </div>
        <div class="col-6">
          <label class="label" for="unity">Unidad de medida</label>
          <nb-select id="unity" placeholder="Seleccione" [selected]="data.unitId">
            <nb-option *ngFor="let item of unitArray?.items" [value]="item?.id" (click)="selectComponent(item)">
              {{item?.nombre}}</nb-option>
          </nb-select>
        </div>
        <div class="col-6">
          <label class="label" for="name">Nombre</label>
          <input name="nameField" (ngModelChange)="changeField($event,'nameField')" [(ngModel)]="data.name" id="name"
            class="form-control" placeholder="Nombre" type="text" />
        </div>
        <div class="col-6">
          <label class="label" for="type">Tipo de dato</label>
          <nb-select id="type" placeholder="Seleccione" [selected]="data.typeId">
            <nb-option *ngFor="let item of dataTypeArray?.items " [value]="item?.id" (click)="selectTypeData(item)">
              {{item?.nombre}}</nb-option>
            </nb-select>
          </div>
          <div class="col-6">
            <label class="label" for="descripcion">Descripcion</label>
            <input name="descripcionField" (ngModelChange)="changeField($event,'descripcionField')" [(ngModel)]="data.descripcion" id="descripcion"
              class="form-control" placeholder="Descripcion" type="text" />
          </div>

        <div class="col-2" *ngIf="data.type < 3">
          <label class="label" for="min">Valor Mínimo</label>
          <input name="min" [(ngModel)]="data.minValue" id="min" class="form-control" placeholder="Valor Mínimo"
            type="{{data.type == 1 ? 'number' : 'text'}}" />
        </div>
        <div class="col-2" *ngIf="data.type < 3">
          <label class="label" for="max">Valor Máximo</label>
          <input name="max" [(ngModel)]="data.maxValue" id="max" class="form-control" placeholder="Valor Máximo"
            type="{{data.type == 1 ? 'number' : 'text'}}" />
        </div>
        <div class="col-2" *ngIf="data.type < 3">
          <label class="label" for="normal">Valor Normal</label>
          <input name="normal" [(ngModel)]="data.normalValue" id="normal" class="form-control"
            placeholder="Valor Normal" type="{{data.type == 1 ? 'number' : 'text'}}" />
        </div>
        <div class="col-2" *ngIf="data.type > 2">
          <label class="label" for="normal">Valor Normal</label>
          <nb-select [(selected)]="data.normalValue" name="normal" id="type" placeholder="Seleccione">
            <nb-option value="1">Verdadero</nb-option>
            <nb-option value="0">Falso</nb-option>
          </nb-select>
        </div>
      </div>
    </nb-card-body>



    <nb-card-footer>
      <div class="row">
        <div class="col-12 d-flex justify-content-center align-items-baseline">
          <h5 class="text-hint cursor-pointer pr-4" (click)="discardChanges(dialog)">Cancelar</h5>
          <button nbButton status="primary" (click)="guardarTarea(dialog)"
            [disabled]="!enableSaveButton">Guardar</button>
        </div>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>